/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Cairo', sans-serif;
}
ul {
  list-style: none; 
  margin: 0; 
  padding: 0;
}
a {
  text-decoration: none;
}
.container {
  padding: 0 15px; 
  margin: 0 auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Component */

.articles {
  width: fit-content;
  padding: 10px 20px;
  margin: 80px auto;
  border: 3px solid black;
  position: relative;
}
.articles::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -50px;
  background-color: #2196fe;
  width: 15px;
  height: 15px;
  border-radius: 50%
}
.articles::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -50px;
  background-color: #2196fe;
  width: 15px;
  height: 15px;
  border-radius: 50%
}
/* End Component */
/* Start Header */
.header {
  background-color: #fff;
  position: relative;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
}
.header .container {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  flex-wrap: wrap;
  position: relative;
}
.header .logo {
  font-size: 26px; 
  font-weight: bold;
  color: var(--main-color);
  height: 72px;
  display: flex; 
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .header .logo {
    width: 100%; 
    height: 50px;
  }
}
.header .main-nav {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .header .main-nav {
    margin: auto; 
  }
}
.header .main-nav > li > a {
  height: 72px; 
  display: flex; 
  justify-content: center; 
  align-items: center;
  padding: 0 30px; 
  font-size: 18px; 
  color: #000;
  position: relative;
  transition: var(--main-transition);
  overflow: hidden;
}
.header .main-nav > li > a:hover {
  background-color: #fafafa;
  color: var(--main-color);
}
.header .main-nav > li > a::before {
  content: "";
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  height: 3px;
  background-color: var(--main-color);
  transition: var(--main-transition);
}
.header .main-nav > li > a:hover::before {
  left: 0;
}
@media (max-width: 767px) {
  .header .main-nav > li > a {
    padding: 10px; 
    font-size: 14px;
    height: 40px;
  }
}
.header .main-nav > li > .mega-menu {
  display: flex; 
  justify-content: space-between; 
  gap: 40px;
  width: 100%;
  padding: 30px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: calc(100% + 50px);
  border-bottom: 3px solid var(--main-color);
  transition: var(--main-transition); 
  opacity: 0;
  z-index: -1;
}
.header .main-nav > li:last-child:hover .mega-menu {
  opacity: 1;
  top: calc(100% + 1px);
  z-index: 100;
}
@media (max-width: 767px) {
  .header .main-nav li .mega-menu {
    flex-direction: column; 
    gap: 0; 
    padding: 5px;
  }
}
@media (max-width: 992px) {
  .header .main-nav li .mega-menu .image {
    display: none;
  }
}
.header .main-nav > li .mega-menu .image img {
  max-width: 100%;
}
.header .main-nav > li > .mega-menu .links {
  flex: 1;
  min-width: 250px;
  color: var(--main-color);
}
.header .mega-menu .links li {
  position: relative;
}
.header .mega-menu .links li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #fafafa;
  z-index: -1;
  transition: var(--main-transition);
}
.header .mega-menu .links li:hover::before {
  width: 100%;
}
.header .mega-menu .links > li i {
  margin-right: 10px; 
  color: var(--main-color);
}
.header .mega-menu .links > li > a {
  padding: 15px; 
  font-size: 18px; 
  font-weight: bold;
  display: block; 
  color: var(--main-color);
  transition: var(--main-transition);
}

.header .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}
@media (max-width: 767px) {
  .header .mega-menu .links:first-child a:last-child {
    border-bottom: 1px solid #e9e6e6;
  }
}
/* End Header */
/* Start Landing */
.landing {
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  top: -40px;
  width: 100%;
  height: calc(100vh - 72px);
  background-color: #ececec;
  z-index: -2;
  transform: skewY(-6deg);
  transform-origin: left top;
}
.landing .container {
  display: flex;
  align-items: center;
  height: calc(100vh - 72px);
  padding-bottom: 120px;
}
.landing .container .info {
  flex: 1;
}
@media (max-width: 991px) {
  .landing .container .info {
    text-align: center;
  }
}
.landing .container .info h1 {
  font-size: 40px;
  margin: 0;
  letter-spacing: -2px;
}
@media (max-width: 767px) {
  .landing .container .info h1 {
    font-size: 28px;
  }
}
.landing .container .info p {
  font-size: 23px;
  color: #666;
  line-height: 1.7;
  margin: 5px 0 0;
  max-width: 500px;
}
@media (max-width: 767px) {
  .landing .container .info p {
    font-size: 18px;
  }
}
@media (max-width: 991px) {
  .landing .container .info p {
    margin: 10px auto;
  }
}
.landing .container .image {
  flex: 1; 
}
@media (max-width: 991px) {
  .landing .container .image {
    display: none;
  }
}
.landing .image img {
  width: 600px;
  animation: up-and-down 5s linear infinite;
}
.landing .go-down {
  color: var(--main-color);
  position: absolute;
  bottom: 30px; 
  left: 50%; 
  transform: translateX(-50%);
  transition: var(--main-transition);
  animation: bouncing 1.5s infinite; 
}
.landing .go-down:hover {
  color: var(--main-color-alt);
}
/* End Landing */
/* Start Animation */
@keyframes up-and-down {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
}
@keyframes bouncing {
  0%, 10%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40%, 60% {
    transform: translateY(-15px);
  }
}
/* End Animation */
.test {
  width: 200px; 
  height: 500px; 
  margin: 100px auto; 
  background-color: #eee;
  position: relative;
}
.test::before {
  content: "";
  width: 0;
  height: 50%;
  position: absolute;
  background-color: #ddd;
  top: 0;
  left: 0;
  transition: 0.3s;
}
.test::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 50%;
  background-color: #ddd;
  transition: 0.3s;
}
.test:hover::before, 
.test:hover::after {
  width: 100%;
}
/* Start Articles */
.articles {

}
/* End Articles */

